### react ###
frontend/.DS_*
frontend/*.log
frontend/logs
**/*.backup.*
**/*.back.*

frontend/node_modules
/node_modules
frontend/bower_components

frontend/*.sublime*

frontend/psd
frontend/thumb
frontend/sketch