.circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 1px #007bff solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.join-initiative {
  text-align: center;
  font-size: 2em;
  padding: 8px;
  font-weight: 900;
  margin: 16px 32px;
}

.left-pane {
  padding: 2% 20% ;
  /* font-family: 'Mate SC', serif; */
  height: 70vh;
  font-size: larger;
}

.home {
  color: white;
  background: linear-gradient(to right, #489618 0%, #6BAC1B 100%);
}

span {
  font-weight: bold;
}

button {
  padding: 10%;
}

span a {
  color: #000000;
}
span a:hover {
  color: #036100;
}
