footer{
  color:white;
  background-color: #000;
  position: relative;
  width: 100%;
  padding: 16px;
}

.Quoterow {
  font-size: 1.3em;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.8em;
  text-align: center;
  margin: 32px ;
}

.copyright {
  text-align: center;
  margin: 32px;
  font-size: 0.8em;
  font-style:initial;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer li {
  line-height: 1.5em;
  color: white;
  margin-left: 16px;
}

footer a {
  text-decoration: none !important;
  color: white;
  font-size: larger;
  line-height: 2em;
}

.FormFeedback{
  margin: 16px 8px;
}

.FormFeedback a{
  display: inline-block;
  max-width: 250px;
  text-align: center;
  background-color: green;
  color: white;
  padding: 16px;
  border-radius: 4px;
  text-decoration: none;
}

.FormFeedback a:hover{
  background-color: darkgreen;
  transition: .5s;
  color: white;
  text-decoration: none;
}