section {
  padding: 2% 4%;
  margin: 12px 8%;
  text-align: center;
}

section h1 {
  text-shadow: 8px 8px #ddd8;
  margin: 16px;
  margin-bottom: 32px;
  font-family: 'Mate SC', serif;
  font-weight: bolder;
  text-transform: uppercase;
}

section a {
  color: #64a81a;
}
section a:hover {
  color: #048300;
}

section div.card{
  background-color: grey;
}