section {
  padding: 2% 4%;
  margin: 12px 4%;
  text-align: center;
}

@media (max-width: 580px) {
  section {
    padding: 2% 2%;
    margin: 4px;
  }
}

section h1 {
  text-shadow: 8px 8px #ddd8;
  margin: 16px;
  margin-bottom: 32px;
  font-family: 'Mate SC', serif;
  font-weight: bolder;
  text-transform: uppercase;
}

section a {
  color: #64a81a;
}
section a:hover {
  color: #048300;
}

.rotate180 {
  transform: rotate(180deg);
}

section p{
  font-size: 1.2em;
  text-align: justify;
  line-height: 2em;
  width: 90%;
  margin: auto;
}