header {
  padding: 24px 9%;
  width: 100%;
  color: white;
  font-size: 1.2em;
}

.color{
  padding: 8px;
  margin-top: 12px;
  border: 1px 0px solid black;
  text-align: center;
}

.Links{
  font-family: inherit;
  text-align: center;
  color: inherit;
  margin: 10px;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  padding: 8px;
  text-align: center;
}


.Links:hover{
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

#header-image{
  float: left;
  width: 50px;
  height: 50px;
  margin: 7px 12px 0px 12px;
}

#head {
  font-weight: bold;
  font-size: 1.3em;
}

#subhead {
  font-size: 18px;
}

#head, #subhead{
  text-align:left;
  margin-left:15px;
  color: "black";
  font-family:Segoe UI, Tahoma, Geneva, 'Verdana', sans-serif;
}

@media(max-width: 980px){
  .Links{
    /* display: none; */
  }
}

@media(max-width: 580px){
  .color{
    width: 370px;
    display: none;
  }
  #header-image {
    width: 3em;
    height: 3em;
    margin: 0px 8px;
  }
  #head {
    font-size: 1.2em;
  }
  #subhead {
    font-size: 0.9em;
  }
}

@media(max-width: 340px){
  .color{
    width: 370px;
    display: none;
  }
  #header-image {
    width: 2.5em;
    height: 2.5em;
    margin: 0px 8px;
  }
  #head {
    font-size: 1em;
  }
  #subhead {
    font-size: 0.8em;
  }
}